*,*:before,*:after{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #232323;
}
div{
    background-color: rgba(250, 235, 215, 0.541);
}
    

h2{
    color: aliceblue;
    font-size: larger;
    text-transform: uppercase;

}

label{
    
}
input{
    font-size: large;
}
button :hover{
    background-color: black;
    cursor: pointer;
}

p{
    color : #dbbd94
    
}
